.text-red{
    color: red;
}

.text-area{
    width: 100% !important;
    height: 250px !important;
}

.button-red {
    background-color: #fc0000 !important;
}

.button-green {
    background-color: #239b1d !important;
}

.button-blue {
    background-color: #0c1c86 !important;
}

.redirect-to-page p{
    float: left;
    color: rgb(255, 0, 0);
}

.redirect-to-page select{
    width: 65px;
    height: 35px;
    float: left;
    font-size: 15px;
}